nav.navbar.navbar-expand-lg.navbar-light(style={color: 'white', background: 'red'})
    div.collapse.navbar-collapse 
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/about') About
            li.nav-item
                a.nav-link(href='/contact') Contact
            li.nav-item
                a.nav-link(href='/songs') Songs list
            li.nav-item
                a.nav-link(href='/songs/new') Add a new song