ul
    li
        a(href='/') Home
    li
        a(href='/about') About
    li
        a(href='/contact') Contact
    li
        a(href='/songs') Songs list
    li
        a(href='/songs/new') Add a new song