form(action=(song ? `/songs/update` : "/songs"), method="POST")
  if song
    input(type="hidden", name="id", value=song.id)

  .form-group
    label Name
    input.form-control(name="song[name]", required, value=(song ? song.name : null))

  .form-group
    label Band
    input.form-control(name="song[band]", required, value=(song ? song.band : null))
  
  .form-group
    label Album
    input.form-control(name="song[album]", required, value=(song ? song.album : null))

  .form-group
    label Band
    input.form-control(name="song[year]", required, value=(song ? song.year : null))
       
  .form-group
    label Status
    select.form-control(name="song[genre]", required)
      each status in ['Blues', 'Electronic', 'Hip hop', 'Jazz', 'Pop', 'R&B', 'Rock', 'Other']
        option(value=status, selected=(song && song.status === status ? true : false))= status

    .form-group
      label Length
      input.form-control(name="song[length]", required, value=(song ? song.length : null))

  .form-group
    button.btn.btn-dark(type="submit") Submit

